body {
    background: #dee1e7;
    border-top: 40px solid black;
}


#Head {
    background: #3c597f;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px #5d8cb7;
    background-image: linear-gradient(#50739b, #283f63);
    height: 45px;
}



#Head .SiteSearch .InputBox {
    border-radius: 5px;
    font-size: 15px;
    background: #fefefe;
    box-shadow: inset 0px -1px 1px 0px #26303a;
    color: #b8b8ba;
    width: 290px;
    padding: 10px;
    margin: -4px 0 0 0;
}

#Panel {

    margin: -40px 0 0 0;
    float: right;
}

.MeBox {
    margin: 10px 0 0 -180px;
}

.DataList .Item {
    width: 100%;
}


#Panel .GuestBox h4, p {
    display: none;
}

.MeBox .SpBookmarks {
    background-position: -80px -86px;
}

.BoxFilter {
    display: none;
}

.CategoryFilter {
    display: none;
}

.Row {
    width: 70%;
    min-width: 980px;
}

#Body .ContentColumn {
    margin: 20px 0;
    border-radius: 5px;
    background: #ffffff;
    border: #d1d2da;
    background-image: linear-gradient(to top, #e6e8f1, rgba(230, 232, 241, 0) 25px);
    box-shadow: 0 2px 6px rgba(117, 124, 142, 0.6);
}


#Body .Categories {

}

h2 {
    background: #ecedf3;
    padding: 12px 20px;
    border: #d1d2da;
    margin: 0;
    /*box-shadow: inset 0px 0px 2px 0px #d1d2da;*/
    background-image: linear-gradient(#f1f2f6, #e7e9f0);
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05);

}

h2 a {
    color: #535c66;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 0 1px 1px white;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}





#Content .CategoryTable td {

    padding: 12px 20px;
    color: #535c66;
    font-size: 14px;

}

#Content .CategoryTable tr {

    background: transparent;
    border: none;

}

#Content .CategoryTable tbody td {

    background: white;


}

#Content .CategoryTable thead .CategoryName {
    visibility: hidden;
}

.Wrap {
    margin: 0 0 0 20px;
}

h3 {
    font-size: 21px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.CategoryGroup .CategoryTable {

    margin: -47px 0 0 0;
}

.BoxButtons {
    margin: -40px 0 0 0;
}

.Button-EditProfile {

    margin: 15px 15px 0 0;

}

.About {
    margin: 0 30px 0 10px;
}

#Status {
    margin: 10px 0 0 10px;
}

.Empty {
    margin: 0 0 0 20px;
}


h1 {
    /*background: #7d89ac;*/
    background: #3c597f;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px #5d8cb7;
    background-image: linear-gradient(#50739b, #283f63);
    border: #d1d2da;
    border-radius: 5px 5px 0 0;
    padding: 20px 0 20px 20px;
    margin: 0;
    color:  #ebedf3;
    /*box-shadow: inset 0px -1px 1px 0px rgba(50, 50, 50, 0.28);*/
    text-align: left;
    font-weight: 300;
    font-size: 25px;
    text-shadow: 0 1px 1px grey;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/*.ItemContent {*/
    /*background: white;*/
    /*margin: 0;*/
/*}*/

#Discussion_2 {
    background: #ffffff;
}

#Discussion_4 {
    background: #ffffff;
}

#Discussion_5 {
    background: #ffffff;
}

#Discussion_12 {
    background: #ffffff;
}

#Discussion_13 {
    background: #ffffff;
}

#Discussion_15 {
    background: #ffffff;
}

#Body .Row .Column .ContentColumn ul {
    background: white;
}

.PoweredByVanilla {
    display: none;
}

#Head a {
    font-size: 210%;
    font-family: serif;
    font-style: italic;
    font-weight: lighter;
    text-transform: lowercase;

}

a {
    color: #535c66;
}



.ItemDiscussion .Meta, .DataList .Meta {
    float: right;
    margin: -20px 0 0 0;
}

.MItem:last-child {
    display: none;
}

.ControlOptions, .Options {
    margin: 0 10px 0 0;
}

.PageTitle .Options a {
    margin: 3px 0 0 0;
}

.PageTitle .Options .OptionsTitle {
    margin: 3px 0 0 0;
}

.DataList .Title a {
    font-size: 21px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 200;

}

.DataList .Title {
    font-size: 21px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0 0 0 20px;
}

.DataList .Item {
    padding: 12px 0 12px 0;
}

#Body .Row .BreadcrumbsWrapper .Breadcrumbs {
    border: 1px solid #767d8d;
    border-radius: 5px;
    box-shadow: inset 1px -15px 27px 0px #767d8d;
    background-image: linear-gradient(#98a0af, #70788c);
    background-color: #848c9d;



}

#Body .Row .BreadcrumbsWrapper .Breadcrumbs a {
    color: white;


}

#Body .Row .BreadcrumbsWrapper .Breadcrumbs {
    padding: 5px 10px;

}

#Body .Row .BreadcrumbsWrapper {
    margin: 20px 0 0 0;
}

#Head .Row .SiteMenu a {
    vertical-align: 80%;
    padding: 0 0 0 30px;

}

#Head .Row .SiteTitle a img{
    margin: -10px 0 0 0;
}

.MItem {
    color: #8b96a1;
    font-size: 15px;
    margin: 0 auto;
    padding: 0 0 0 30px;
    width: 300px;
}

.MItem a {
    color: #1e79a7;
}

#Form_Comment {

    width: 800px;
    margin: 0 auto;
}

.CommentForm .FormWrapper {
    padding: 10px;
}

.Profile .Photo img {
    height: 200px;
    background: white;
}

.Profile .DataList .Photo {

    margin: 0;
    height: 40px;
}

.Profile .DataList img {
    height: 40px;
    margin: 0;
}

.Profile h1 {
    margin: 240px 0 0 0;
}

.Profile .Photo {
    height: 200px;
    background: white;
    margin: 30px 0 0 0;
}

.Profile .User dt {
    color: orange;
}

.MessageForm .Author img {
    margin: 10px 0 0 20px;
}

.Profile .DataList .ItemContent .Title {
    margin: -40px 0 0 0;
}

#Content tbody td {
    background: white;
    padding: 12px 20px;
    font-size: 21px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.DataTable .Title {

    font-size: 21px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 200;

}

.Author .PhotoWrap {
    margin: 0 10px 4px 20px;
}

.Item.Read .Title {

    font-weight: 200;

}

.Activities .ItemContent {
    margin: 0 53px 0 53px;
}

#Panel .Box {
    display: none;
}